.add-button {
  width: 17%;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 564px) {
  .add-button {
    width: 100%;
  }
}

