.header {
  padding-top: 45px;
  padding-right: 15.6%;
  padding-left: 15.6%;
  margin-bottom: 40px;
  line-height: 0;
}

@media screen and (max-width: 1150px) {
  .header {
    padding-left: 11%;
    padding-right: 11%;
  }
}

@media screen and (max-width: 1013px) {
  .header {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 28px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 42px;
  }
}
