.profile__job {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  word-wrap: break-word;
}

@media screen and (max-width: 564px) {
  .profile__job {
    margin-bottom: 36px;
    text-align: center;
  }
}
